Makefile.in
Makefile

ltmain.sh
m4/libtool.m4
m4/lt*.m4
libtool

aclocal.m4
autom4te.cache
configure
config.guess
config.sub
config.log
config.status
config.h

install-sh
missing

*~
*.o

=build*
build*
++*
.version

stamp-h1
.deps
.libs
texinfo.tex
*.info
*.pc
ylwrap
